header{
    text-align: center;
    background: linear-gradient(0deg,rgba(217, 212, 78, 1) 0%, rgba(114, 176, 77, 1) 100%);
    box-shadow: 0px 3px 5px 0px rgb(82, 20, 20);
    padding: 13px 13px 13px 0px;
    width: 100%;
    position: fixed;
    font-size: 16px;
}
nav a{
    font-family:'Acme'; 
    padding: 15px 15px;
    color:rgb(55, 63, 38);
    text-decoration:none;
    border-radius: 20px 5px 20px 5px;
    transition: 0.8s;
    font-size: 24px;
}
nav a:hover{
    color: rgb(255, 255, 255);
    background: radial-gradient(circle,rgba(130, 75, 23, 1) 0%, rgba(82, 19, 19, 1) 100%);
    border-radius: 0px 5px 0px 5px;
    box-shadow: 5px 1px 5px 1px rgb(178, 194, 98);
    padding: 7px 20px;
    transition: 0.9s;
}
.banner{
    background-color: rgb(199, 220, 146);
    padding: 5px 10px;
}

.home{
    height: 800px;
    background-image: url("natadecoco.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Acme';
    padding-top: 50px;
}

.deskHome{
    width: 40%;
    margin-left: 50px;
    font-family: 'Acme';
    color: rgb(3, 26, 47);
    padding: 15px;
    & h1{
        font-size: 50px;
    }
    & h2{
        font-size: 25px;
    }
    & p{
        font-size: 20px;
    } 
    & a{
        font-size: 20px;
    }
}    
.deskHome a{
    text-decoration: none;
    color: rgb(94, 25, 25);
    background-color: rgb(236, 245, 188);
    padding: 10px 10px;
    border-radius: 10px 10px 10px 10px;
    transition: 0.5s;
    
}
.deskHome a:hover{
    box-shadow: 0px 0px 5px 2px;
    border-radius: 20px 20px 20px 20px;
    transition: 0.5s;
}
section.project{
    height: 800px;
    text-align: center;
    
}
.containerAbout{
    width: 70%;
    margin: auto;
    padding: 90px 50px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px -1px 15px 3px rgb(14, 54, 17);
    font-size: 20px;
    & img{
        height:300px;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0px -5px 15px 5px rgb(71, 52, 81);
    }
}
body{
    margin: 0;
    font-family: 'Acme';
    background: radial-gradient(circle,rgba(166, 217, 89, 1) 0%, rgba(168, 147, 54, 1) 100%);
}
section.howto{
    width: 70%;
    height: 70%;
    margin: auto;
    padding: 90px 50px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px -1px 15px 3px rgb(14, 54, 17);
}   
.howto img{
    height: 260px;
    box-shadow: 0px -5px 15px 5px rgb(71, 52, 81);
}
.deskHowto{
    display: flex;
    width: 90%;
    margin:auto; 
    font-size: 20px;
    & h4{
        font-size: 24px;
        color:rgb(73, 11, 11);
}
}
.dokumentasi{
    margin: 20px 
}

.cardProfile{
    background: linear-gradient(178deg,rgba(255, 255, 255, 1) 0%, rgba(227, 214, 191, 1) 100%);
    padding: 15px;
    width: 300px;
    margin: auto;
    margin-top: 80px;
    text-align: center;
    box-shadow: 0px -1px 15px 3px rgb(14, 54, 17);
}
.imgProfile img{
    width: 100%;
}
.medsos{
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height:40px;
    padding-top:5px;
}
.medsos a{
    text-decoration: none;
    padding: 10px 10px;
    font-size: 24px;
}